# 服务配置
HOST=0.0.0.0
PORT=8000

# 自然科学 - 分众表 API
FENQUBIAO_API_V2=http://webapi.fenqubiao.com/api/v2/user
FENQUBIAO_API_V1=http://webapi.fenqubiao.com/api/user
FENQUBIAO_USER=your_username
FENQUBIAO_PASSWORD=your_password